


.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

.headshot-wrapper {
    display: block;
    margin-top: 100px;
    padding-bottom: 100px;
}

.recipe-picture-lead {
    display: block;
    padding-bottom: 20px;
}

.recipe-credit {
    font-style: italic;
}